@using AppWeb.Models

@model List<OffreViewModel>

<div class="py-5">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mb-2"><b>All the offers</b></h3>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-12">
                <div class="form-group"><input id="researchInput" type="text" style= "padding: 1.7rem;font-size: large;" class="form-control mx-2 form-control-lg" placeholder="Ex : Web developer"></div>
            </div>
        </div>
        @Html.Partial("_listeOffres", Model)
    </div>
</div>

<script>
    $("#researchInput").on("keyup", function (e) {
        e.preventDefault();

        let text = $("#researchInput").val().toUpperCase();

        $(".cards").each(function (item) {
            if ($(this).find("h3").text().toUpperCase().includes(text)) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        });

    });
</script>
