@using AppWeb.Models

@model List<OffreViewModel>



<div class="pt-5 bg-dark text-dark">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12" style="">
                <h3 class="mb-2 text-light"><b>The jobs you are applying for</b></h3>
            </div>
        </div>
        @Html.Partial("_listeOffres", Model)
    </div>
</div>