<div class="container">
    <div class="row">
        <div class="p-4 col-md-3">
            <h2 class="mb-4">Find your job</h2>
            <p>Internal platform to the job-sharing business</p>
        </div>
        <div class="p-4 col-md-3">
            <h2 class="mb-4">Pages</h2>
            <ul class="list-unstyled">
                <li><a href="@Url.Action("Index", "Home")" class="text-light">Home</a> <br> </li>
                <li><a href="@Url.Action("LitesOffresAsync","Offre")" class="text-light">Offers</a> <br> </li>
                <li><a href="#" class="text-light">Our services</a><br></li>
                <li><a href="@Url.Action("GetEmployeeViewAsync","Employe")" class="text-light">Account</a></li>
            </ul>
        </div>
        <div class="p-4 col-md-3">
            <h2 class="mb-4">Contact</h2>
            <p>
                <a href="https://github.com/maravel" class="text-light" target="_blank">
                    <i class="fa d-inline mr-3 text-muted fa-github"></i>GitHub
                </a>
            </p>
            <p>
                <a href="#" class="text-light">
                    <i class="fa d-inline mr-3 text-muted fa-envelope-o"></i>mathieu.ravel@etu.uca.fr
                </a>
            </p>
            <p>
                <a href="https://www.linkedin.com/in/mathieu-ravel-a4ba59188" class="text-light" target="_blank">
                    <i class="fa d-inline mr-3 fa-linkedin text-muted"></i>LinkedIn
                </a>
            </p>
        </div>
        <div class="p-4 col-md-3">
            <h2 class="mb-4">Feedback</h2>
            <form>
                <fieldset class="form-group"> <label for="exampleInputEmail1">Send us feedback</label> <input type="email" class="form-control" placeholder="Ex : Great job ..."> </fieldset> <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-3">
            <p class="text-center">Site développé par Mathieu RAVEL et Bernardo PEREIRA AUGUSTO.</p>
        </div>
    </div>
</div>