@using AppWeb.Models

@model List<OffreViewModel>

<div class="py-5 text-center parallax cover gradient-overlay" style="background-image: url(&quot;./Assets/Images/header.jpg&quot;);position:relative;background-position:center center;background-size:cover;">
    <div class="container d-flex flex-column">
        <div class="row my-auto">
            <div class="col-md-12 text-white">
                <img class="mb-5" src="./Assets/Images/now-logo.png" width="100">
                <h1 class="mb-3 display-1">FIND YOUR JOB</h1>
                <h3 class="mb-5">Find the job that suits you best</h3>
                <form class="form-inline justify-content-center" action="@Url.Action("SearchOffre","Offre")">
                    <div class="form-group">
                        @Html.TextBox("searchText", null, new { style= "padding: 1.7rem;font-size: large;", @class= "form-control mx-2 form-control-lg", placeholder = "Ex : Web developer" })
                    </div>
                    <button type="submit" class="btn btn-primary" style="font-size:1.2rem;padding: 1rem;border-radius: 3rem;"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mb-2"><b>The jobs of the day</b></h3>
            </div>
        </div>
        @Html.Partial("_listeOffres", Model)
    </div>
</div>